extends layout

block content
  .container
    h1 Edit #{poll.title}

    .panel.panel-info.add-poll
      .panel-heading Edit form

      .panel-body
        form(action='/polls/' + poll.id class='myForm')
          .form-group
            label Title : 
            input(type='text' value='#{poll.title}' name='title' class='form-control' placeholder='Title')
          .form-group
            label State : 
            select(name='state' class='form-control')
              - var options = ['active', 'drafti', 'closed']
              each option in options
                if option == poll.state
                  option(value='#{option}' selected) #{option}
                else
                  option(value='#{option}') #{option}

            button(type='submit' class='btn btn-info return PUT') Save changes

  script(type='text/javascript').
    $('.PUT').click(function(e) {
      e.preventDefault();

      $.ajax({
        type: 'PUT',
        url: $('.myForm').attr('action'),
        data: $('.myForm').serialize(),
        success: function(data) {
          window.location.replace("/polls");
        }
      });
    });